.forminput {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    margin-top: 25px;
    background-color: transparent;
    color: #160af3;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .forminput:focus, .forminput:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   
   .forminput::placeholder {
    color: #777;
   }
   
   .forminput:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }

   .form__label {
    position: absolute;
    top: 10;
    margin-right: 5px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #7a9cc6;
  }